In [3]:
import statistics
import pandas as pd

In [4]:
array = [1,2,3,4,5]

In [5]:
min(array)

1

In [6]:
max(array)

5

In [7]:
statistics.mean(array)

3

In [8]:
data = {
    "register_number" : [1,2,3,4,5],
    "iot" : [51,47,91,33,41],
    "fsd" : [93,62,20,98,5]
}

In [9]:
pd.DataFrame(data)

   register_number  iot  fsd
0                1   51   93
1                2   47   62
2                3   91   20
3                4   33   98
4                5   41    5

In [10]:
df = pd.DataFrame(data)

In [13]:
df.loc[1]

register_number     2
iot                47
fsd                62
Name: 1, dtype: int64

In [14]:
df.iloc[3]

register_number     4
iot                33
fsd                98
Name: 3, dtype: int64

In [15]:
df.loc['51']

KeyError: '51'

In [17]:
df.loc['iot']

KeyError: 'iot'

In [19]:
df.loc[2,'iot']

91

In [20]:
df.isnull()

   register_number    iot    fsd
0            False  False  False
1            False  False  False
2            False  False  False
3            False  False  False
4            False  False  False

In [21]:
df.fillna(0)

   register_number  iot  fsd
0                1   51   93
1                2   47   62
2                3   91   20
3                4   33   98
4                5   41    5

In [22]:
for i, j in df.iterrows():
    print(i, j)
    print()

0 register_number     1
iot                51
fsd                93
Name: 0, dtype: int64

1 register_number     2
iot                47
fsd                62
Name: 1, dtype: int64

2 register_number     3
iot                91
fsd                20
Name: 2, dtype: int64

3 register_number     4
iot                33
fsd                98
Name: 3, dtype: int64

4 register_number     5
iot                41
fsd                 5
Name: 4, dtype: int64

In [23]:
df.query('iot>50')

   register_number  iot  fsd
0                1   51   93
2                3   91   20

In [24]:
df

   register_number  iot  fsd
0                1   51   93
1                2   47   62
2                3   91   20
3                4   33   98
4                5   41    5

In [25]:
df.sort_values('iot',ascending=False)

   register_number  iot  fsd
2                3   91   20
0                1   51   93
1                2   47   62
4                5   41    5
3                4   33   98

In [26]:
df

   register_number  iot  fsd
0                1   51   93
1                2   47   62
2                3   91   20
3                4   33   98
4                5   41    5

In [27]:
df.groupby('iot').mean()

     register_number   fsd
iot
33               4.0  98.0
41               5.0   5.0
47               2.0  62.0
51               1.0  93.0
91               3.0  20.0

In [28]:
df.agg(['mean','std'])

      register_number        iot        fsd
mean         3.000000  52.600000  55.600000
std          1.581139  22.512219  42.027372

In [32]:
df2 = pd.DataFrame({'iot': [7, 8, 9]})

In [33]:
print(df.merge(df2, on='iot'))

Empty DataFrame
Columns: [register_number, iot, fsd]
Index: []